<a href="<%= wins_user_path(@user) %>" class="hover:underline">
  <strong id="winner" class="stat">
    <%= WinOrLose.where(winner_id: @user.id).count %>
  </strong>
  勝数
</a>
<a href="<%= loses_user_path(@user) %>" class="hover:underline">
  <strong id="loser" class="stat">
    <%= WinOrLose.where(loser_id: @user.id).count %>
  </strong>
  負数
</a>

