<h1>議論一覧</h1>

<table>
  <thead>
    <tr>
      <th>
        agenda
      </th>
      <th>
        created_user_id
      </th>
    </tr>
  </thead>
  <tbody>
    <% @debates.each do |debate| %>
      <tr>
        <td>
          <%= debate.agenda %>
        </td>
        <td>
          <%= debate.created_user_id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
