<h1>議論一覧</h1>

<table>
  <thead>
    <tr>
      <th>
        agenda
      </th>
      <th>
        created_user_id
      </th>
      <th>
        joined_user_id
      </th>
    </tr>
  </thead>
  <tbody>
    <% @debates.each do |debate| %>
      <tr id="debate_<%= debate.id %>" >
        <%= render 'debate', debate: debate %>
      </tr>
    <% end %>
  </tbody>
</table>
