<h1> 議論の新規登録</h1>

<%= form_with url: debates_new_path, local: true do |f| %>
  <%= f.label :agenda %>
  <%= f.text_area :agenda, class: 'form-control', id: 'debate_agenda' %>
  <%= f.submit nil, class: 'btn btn-default' %>
<% end%>
