h1 Chat room
h2 User : #{current_user.email}
h2 Room : #{@room.id}
#messages data-room_id="#{@room.id}"
  = render @messages
= label_tag :content, 'Say something:'
= text_field_tag :content, nil, data: { behavior: 'room_speaker' }